@model IEnumerable<Forum.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table actionAdminTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="actionAdminTable-th-id_@item.Id">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-outline-dark">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                    <a class="btn btn-outline-danger" onclick='deleteAction("Admin", "Category", @item.Id)'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/main.js"></script>
}