@model Forum.Models.Post
@using Forum.DataAccess.Data
@using Forum.Models.Comments
@using Forum.DataAccess
@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Details";
}


@section ExtraCss{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/ui/trumbowyg.min.css">
    <link href="~/css/post_details.css" rel="stylesheet" />
}

<div class="comments">
    <div class="general-info general-info-post">
        <div class="main-comment-item__author">
            <img src="/@db.ApplicationUsers.Find(Model.ApplicationUserId).ImageUrl" alt="Author" />
        </div>
        <div class="main-comment-item__info">
            <h5><b>@db.ApplicationUsers.Find(Model.ApplicationUserId).FullName</b></h5>
            <p>Answered @Model.Created</p>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Moderator) ||
               User.Claims.FirstOrDefault().Value == Model.ApplicationUserId)
            {
            <div class="main-comment-item__action">
                <a class="btn btn-warning mb-2" asp-action="AddOrEdit">
                    <i class="fas fa-edit"></i> <span class="detail-post-actions"> &nbsp; Update Question</span>
                </a>
                <a class="btn btn-danger" asp-action="AddOrEdit">
                    <i class="fas fa-trash"></i> <span class="detail-post-actions">&nbsp; Delete Question</span>
                </a>
            </div>
            }
        }
    </div>
    <div class="main-comment-item__message mb-24">
        <div class="image-data">
            <img src="@Model.ImageUrl" alt="Alternate Text" style="width:100%;"/>
        </div>
        @Html.Raw(Model.Body)
    </div>
</div>


<br>
<br>
<hr>


<div class="comment-section">
    <h3>Left an Answer:</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="main-comment-form">
            <div class="main-comment-form__img">
                <img src="/@db.ApplicationUsers.FirstOrDefault(u => u.Email == User.Identity.Name).ImageUrl" alt="Alternate Text" />
            </div>

            @{
                await Html.RenderPartialAsync("_MainComment", new CommentVM { PostId = Model.Id, MainCommentId = 0 });
            }
        </div>
    }
    else
    {
        <h6>Please, <a asp-area="Identity" asp-page="/Account/Login">Log In</a> if you want to left a comment.</h6>
    }
</div>

<div class="comments">
    @foreach (var c in Model.MainComments.OrderByDescending(c=>c.Created))
    {
        <div class="main-comment-item mc_@c.Id">
            <div class="general-info">
                <div class="main-comment-item__author">
                    <img src="/@db.ApplicationUsers.Find(c.ApplicationUserId).ImageUrl" alt="Author" />
                </div>
                <div class="main-comment-item__info">
                    <h5><b>@db.ApplicationUsers.Find(c.ApplicationUserId).FullName</b></h5>
                    <p>Answered @c.Created</p>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Moderator) ||
                User.Claims.FirstOrDefault().Value == c.ApplicationUserId)
                    {
                        <div class="main-comment-item__action">
                            <i class="fas fa-edit mr-3 btn-primary edit-btn edit-btn-mail"
                               data-id="@c.Id"></i>
                            <i class="fas fa-trash btn-danger" onclick="DeleteMainComment(@c.Id)"></i>
                        </div>
                    }
                }
            </div>

            <div class="main-comment-item__message">
                @Html.Raw(c.Message)
            </div>

            @* Sub comment section *@
            <div class="sub-comment-item">

                @foreach (var sc in c.SubComments.OrderByDescending(sc=>sc.Id))
                {
                    <div class="sc_@sc.Id">
                        <div class="general-info">
                            <div class="main-comment-item__author">
                                <img src="/@db.ApplicationUsers.Find(sc.ApplicationUserId).ImageUrl" alt="Author" />
                            </div>
                            <div class="main-comment-item__info">
                                <h5><b>@db.ApplicationUsers.Find(sc.ApplicationUserId).FullName</b></h5>
                                <p>Answered @sc.Created</p>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Moderator) ||
                          User.Claims.FirstOrDefault().Value == sc.ApplicationUserId)
                                {
                                    <div class="main-comment-item__action">
                                        <i class="fas fa-edit mr-3 btn-primary edit-btn edit-btn-sub"
                                           data-id="@sc.Id"
                                           data-mainId="@c.Id"></i>
                                        <i class="fas fa-trash btn-danger" onclick="DeleteSubComment(@sc.Id)"></i>
                                    </div>
                                }
                            }
                        </div>

                        <div class="main-comment-item__message mb-24">
                            @Html.Raw(sc.Message)
                        </div>
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="comment-section">
                        <div class="main-comment-form">
                            <div class="main-comment-form__img">
                                <img src="/@db.ApplicationUsers.FirstOrDefault(u => u.Email == User.Identity.Name).ImageUrl" alt="Alternate Text" />
                            </div>

                            @{
                                await Html.RenderPartialAsync("_SubComment", new CommentVM { PostId = Model.Id, MainCommentId = c.Id });
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
    }
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        @{
            await Html.RenderPartialAsync("_MainCommentUpdate", new CommentVM {
                PostId = Model.Id,
                MainCommentId = 0
            });
        }
    </div>
</div>

<div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        @{
            await Html.RenderPartialAsync("_SubCommentUpdate", new SubComment
            {
                Id = 0,
                MainCommentId = 0
            });
        }
    </div>
</div>


@section Scripts{
    <script src="~/js/question_detail.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/trumbowyg.min.js"></script>

    <script>
        $("#editor").trumbowyg();
        $(".main-comment-text").trumbowyg();
    </script>
}