@model Forum.Models.Post
@using Forum.DataAccess.Data;
@inject ApplicationDbContext db;

@{
    ViewData["Title"] = "Details";
    var userImg = db.ApplicationUsers.FirstOrDefault(u => u.Email == User.Identity.Name).ImageUrl;
}


@section ExtraCss{
    <link href="~/css/post_details.css" rel="stylesheet" />
}


<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br>
<br>
<hr>

<div class="comment-section">
    <div class="main-comment-form">
        <div class="main-comment-form__img">
            <img src="/@userImg" alt="Alternate Text" />
        </div>
        <form method="post" class="main-comment-form__form"
              asp-controller="Home" asp-action="Comment">
            <div class="form-group">
                <textarea type="text" rows="3" cols="100" class="main-comment-text" placeholder="Add a comment..."></textarea>
            </div>

            <div class="form-group">
                <input type="submit" class="comment-btn" value="Add Comment" />
            </div>
        </form>
    </div>
</div>

<div class="comments">
    <div class="main-comment-item">
        <div class="main-comment-item__author">

        </div>
        <div class="main-comment-item__message">

        </div>
    </div>

</div>


<br>
<br>
<hr>


@if (User.Identity.IsAuthenticated)
{
    <div class="comment-section">
        @{
            await Html.RenderPartialAsync("_MainComment", new CommentVM { PostId = Model.Id, MainCommentId = 0 });
        }

        @foreach (var c in Model.MainComments)
        {
            <p>
                Main comment <hr>
                @c.Message -- @c.Created
            </p>

            <div style="margin-right: 20px;">
                <h4>Sub Comments</h4>
                @{
                    await Html.RenderPartialAsync("_MainComment", new CommentVM { PostId = Model.Id, MainCommentId = c.Id });
                }

                @foreach (var sc in c.SubComments)
                {
                    <p>
                        Sub comment <hr>
                        @sc.Message -- @sc.Created
                    </p>
                }
            </div>
        }
    </div>
}
else
{
    <div>
        <a asp-controller="Auth" asp-action="Login">Sign in</a> if you want to left a comment.
    </div>
}

