@model Forum.Models.Post
@using Forum.DataAccess.Data
@using Forum.Utility
@inject ApplicationDbContext db

@{
    ViewData["Title"] = "Details";
}


@section ExtraCss{
    <link href="~/css/post_details.css" rel="stylesheet" />
}


<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br>
<br>
<hr>

@if (User.Identity.IsAuthenticated)
{
    <div class="comment-section">
        <h3>Left an Answer:</h3>
        <div class="main-comment-form">
            <div class="main-comment-form__img">
                <img src="/@db.ApplicationUsers.FirstOrDefault(u => u.Email == User.Identity.Name).ImageUrl" alt="Alternate Text" />
            </div>

            @{
                await Html.RenderPartialAsync("_MainComment", new CommentVM { PostId = Model.Id, MainCommentId = 0 });
            }
        </div>
    </div>
}

<div class="comments">
    @foreach (var c in Model.MainComments)
    {
        <div class="main-comment-item mc_@c.Id">
            <div class="general-info">
                <div class="main-comment-item__author">
                    <img src="/@db.ApplicationUsers.Find(c.ApplicationUserId).ImageUrl" alt="Author" />
                </div>
                <div class="main-comment-item__info">
                    <h5><b>@db.ApplicationUsers.Find(c.ApplicationUserId).FullName</b></h5>
                    <p>Answered @c.Created</p>
                </div>
                
                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Moderator) || 
                     User.Claims.FirstOrDefault().Value == c.ApplicationUserId )
                {
                    <div class="main-comment-item__action">
                        <i class="fas fa-edit mr-3 btn-primary edit-btn"></i>
                        <i class="fas fa-trash btn-danger" onclick="DeleteMainComment(@c.Id)"></i>
                    </div>
                }
            </div>

            <div class="main-comment-item__message">
                @c.Message
            </div>

            @* Sub comment section *@
            <div class="sub-comment-item">

                @foreach (var sc in c.SubComments)
                {
                    <div class="general-info">
                        <div class="main-comment-item__author">
                            <img src="/@db.ApplicationUsers.Find(sc.ApplicationUserId).ImageUrl" alt="Author" />
                        </div>
                        <div class="main-comment-item__info">
                            <h5><b>@db.ApplicationUsers.Find(sc.ApplicationUserId).FullName</b></h5>
                            <p>Answered @sc.Created</p>
                        </div>
                        <div class="main-comment-item__action">
                            <span>+</span>
                        </div>
                    </div>

                    <div class="main-comment-item__message mb-24">
                        @sc.Message
                    </div>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="comment-section">
                        <div class="main-comment-form">
                            <div class="main-comment-form__img">
                                <img src="/@db.ApplicationUsers.FirstOrDefault(u => u.Email == User.Identity.Name).ImageUrl" alt="Alternate Text" />
                            </div>

                            @{
                                await Html.RenderPartialAsync("_SubComment", new CommentVM { PostId = Model.Id, MainCommentId = c.Id });
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
    }
</div>


@section Scripts{
    <script src="~/js/question_detail.js"></script>
}