@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager

@using Forum.DataAccess.Data;
@inject ApplicationDbContext db;

@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<table class="table actionAdminTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td id="actionAdminTable-th-id_@item.Id">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                <img src="@item.ImageUrl" style="height: 80px;" />
            </td>
            <td>
                @db.ApplicationUsers.Find(item.ApplicationUserId).Name (@db.ApplicationUsers.Find(item.ApplicationUserId).UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @if (item.Modified.ToString() != "1/1/0001 12:00:00 AM")
                {
                    @Html.DisplayFor(modelItem => item.Modified)
                }
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-outline-dark">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                <a class="btn btn-outline-danger" onclick='deleteAction("Post", @item.Id)'>Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="~/js/main.js"></script>
}